.jumbotron{
	background-color: rgb(9, 26, 82);
	color: white;
	padding-bottom: 0%;
	padding-top: 1%;
	padding-left: 1%;
	padding-right: 1%;	
}

body{
	background-color: white;
}

cite{
	color: rgb(136, 136, 136);
}

.card-header{
	background-color: rgb(9, 26, 82);
	color: white;
	text-align: center;
}

.card{
	margin-left: 8%;
}

.d-flex{
	padding-left: 1px;
}

.row{
	padding-left: 1px;
}



footer{
	background-color: rgb(9, 26, 82);
	color: white;
	margin-top: 2%;
}

.navbar{
	padding-bottom: 0%;
	padding-top: 0%;
}

.btn-logout{
	color: rgb(136, 136, 136);
}

a {
	color: gray;
}

.breadcrumb {
	margin-top: 6%;
	margin-bottom: 6%;
}

.form-row {
	float: right;
}

form {
	background-color: rgb(9, 26, 82);
	color: white;
	padding-top: 10px;
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
}

.btn-secondary{
	background-color:  gray;
	padding-top: 0px;
	padding-left: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	margin-left: 25px;
}

.btn-group {
	margin-left: 48%;
	margin-top: 2%;
}
