h1{
	text-align:center;
	background-color:#060B48;
	width:90%;	
	margin:auto;
	margin-bottom:5px;
	border-radius:5px;
	color:white;
}
*{
	color:white;
}
#contenedor{
	width:90%;
	height:500px;
	/*background-color:yellow;*/
	margin:auto;
}
#contenedor2{
	width:90%;
	height:90px;
	/*background-color:blue;*/
	margin:auto;
}	
#contenedor3{
	width:90%;
	height:57px;
	background:linear-gradient(#060B41,#060B48);
	margin:auto;
	border-radius:10px;
}
#contenedor4{
	width:50%;
	height:100%;
	/*background-color:green;*/
	float:left;	
}
#contenedor5{
	width:50%;
	height:100%;
	/*background-color:orange;	*/
	float:right;
}
#idliquidacion,label{
	float:right;
}
#contenedor4 form{
	margin:auto;
	margin-top:10px;
	margin-bottom:10px;
	width:50%;
	max-width:400px;
	padding:30px;
	border: 1px solid rgba(0,0,0,0.4);
	height:400px;
	width:400px;
	background-color:#060B48;	
}

#contenedor4 label{
	float:left;		
}
#contenedor4 input{
	float:right;
}
#obervacion{
	text-align:center;
	width:300px;
	height:100px;
}
#contenedor5 form{
	margin:auto;
	margin-top:10px;
	margin-bottom:10px;
	width:50%;
	max-width:400px;
	padding:30px;
	border: 1px solid rgba(0,0,0,0.4);
	height:400px;
	width:400px;
	background-color:#060B48;	
}
#contenedor5 label{
	float:left;		
}
#contenedor5 input{
	float:right;
}
#guardar input[type="submit"]{
	background:linear-gradient(#000000,#060B48);
	color:white;
	opacity:0.7;
	cursor:pointer;
	border-radius:10px;	
	width:250px;
	height:50px;	
	font-size:20px;	
	margin-top: 0 auto;
}
input[type="submit"]{
	/*background:linear-gradient(#000000,#060B48);*/	
	opacity:0.7;
	cursor:pointer;
	border-radius:10px;	
	width:60px;
	height:60px;
	text-align:center;
	font-size:30px;
	margin-top:10px;
	margin-left:5px;
	margin-right:5px;	
	background-size:cover;
	font-size:22px;
}
.menu {
	background:url(../archivos/menu.png) center;
}
.atras{
	background:url(../archivos/atras.png);	
}
.buscar{
	background:url(../archivos/buscar.jpg);
	background-color:white;
}
#guardar input[type="submit"]:hover{
	opacity:1;
}
input[type="submit"]:hover{
	opacity:1;
}
input[type="submit"]:active{
	transform:scale(0.95);
}
img{
	width:200px;
	height:80px;
	float:right;
	margin:-15px 5px 0px 0px;
}
#contenedor3 input{
	border-radius:10px;
}

